# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.project
.cproject
.settings/

# VSCode
.vscode/

# Build directories
build*/

# Documentation build
documentation/build/
documentation/source/_static/

# Github deploy key
.deploy_key.pub
.deploy_key
