[submodule "scarab"]
	path = scarab
	url = https://github.com/project8/scarab
[submodule "external/SimpleAmqpClient"]
	path = external/SimpleAmqpClient
	url = https://github.com/alanxz/SimpleAmqpClient
