language: cpp
stages:
- name: build-test
  if: branch = master OR branch = develop OR branch =~ /.*\.(?i:build)$/ OR type =
    pull_request
- name: deploy
  if: branch = master OR branch = develop OR branch =~ /^v\d+\.\d+\.\d+(-S*)?$/
- name: build-docs
  if: branch = master OR branch = develop OR branch =~ /.*\.(?i:build)$/
jobs:
  include:
  - stage: build-test
    os: osx
    compiler: clang
    osx_image: xcode9.4
    script:
    - brew update
    - brew install rabbitmq-c
    - mkdir build
    - cd build
    - cmake ..
    - make
  - stage: build-test
    os: linux
    dist: bionic
    compiler: gcc
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-5
        - libboost-all-dev
        - librabbitmq-dev
    script:
    - export CC=gcc-5 && export CXX=g++-5
    - mkdir build
    - cd build
    - cmake .. -DScarab_BUILD_PYTHON=FALSE
    - make
  - stage: build-test
    os: linux
    dist: bionic
    compiler: clang
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - clang
        - libboost-all-dev
        - librabbitmq-dev
    script:
    - export CC=clang && export CXX=clang++
    - mkdir build
    - cd build
    - cmake .. -DScarab_BUILD_PYTHON=FALSE
    - make
  - stage: deploy
    os: linux
    dist: bionic
    services:
    - docker
    addons:
      apt:
        packages:
        - docker-ce
    script:
    - export DOCKER_TAG=`echo $TRAVIS_BRANCH | sed "s/\//-/"`
    - docker build -t driplineorg/dripline-cpp:$DOCKER_TAG .
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push driplineorg/dripline-cpp:$DOCKER_TAG
  - stage: build-docs
    language: python
    os: linux
    dist: bionic
    git:
      depth: false
    addons:
      apt:
        packages:
        - tree
        - doxygen
    before_install:
    - openssl aes-256-cbc -K $encrypted_ef08ab9a7293_key -iv $encrypted_ef08ab9a7293_iv
      -in .deploy_key.enc -out .deploy_key -d
    - eval "$(ssh-agent -s)"
    - chmod 600 ./.deploy_key
    - ssh-add ./.deploy_key
    script:
    - echo $(if [[ "$TRAVIS_BRANCH" == "develop" || "$TRAVIS_BRANCH" == "master" ]];
      then echo "$TRAVIS_BRANCH"; elif [[ ! -z "$TRAVIS_TAG" ]]; then echo "tags/$TRAVIS_TAG";
      else echo "branches/$(echo $TRAVIS_BRANCH | tr / _ | tr - .)"; fi) | tee /tmp/output_location
    - cd documentation
    - make html
    - ls ./build/html
    - mv ./build/html /tmp/build.html
    - git checkout gh-pages
    - git clean -d -f -x
    - ls
    - rsync -av --delete /tmp/build.html/ ./$(cat /tmp/output_location)
    - tree -L 3
    - git add $(cat /tmp/output_location)
    - git status
    - git commit -m "built docs for ${TRAVIS_BRANCH}"
    - git remote -v
    - git remote set-url origin "git@github.com:${TRAVIS_REPO_SLUG}"
    - git remote -v
    - git push
build-docs:
- openssl aes-256-cbc -K $encrypted_ef08ab9a7293_key -iv $encrypted_ef08ab9a7293_iv
  -in .deploy_key.enc -out .deploy_key -d
