language: cpp

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install rabbitmq-c; fi
  - mkdir build
  - cd build
  - cmake ..

script: make
  
matrix:
  allow_failures:
    - os: linux  # trusty's version of rabbitmq-c is 0.4.1, which is too old, so the build fails; a docker build should be used instead
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - libboost-all-dev
            - librabbitmq-dev
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - clang
            - libboost-all-dev
            - librabbitmq-dev
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++" 
    - os: osx
      osx_image: xcode9.4
      compiler: clang
 
before_install:
  - eval "${MATRIX_EVAL}"
