version: '3'

services:
  test:
    image: ghcr.io/driplineorg/dripline-cpp:${IMG_TAG:-latest-testing}
    depends_on:
      - rabbit-broker
      - simple-service
    volumes:
      - ./dl-tests.sh:/root/dl-tests.sh
      - ./rabbitmq_for_dl_collection.json:/root/rabbitmq_for_dl_collection.json
    command: >
      bash -c "sleep 1 &&
              newman run /root/rabbitmq_for_dl_collection.json &&
              /root/dl-tests.sh"
    configs:
      - auths.json
