name: Publish

on:
  push:
    branches: [ main, develop ]
    tags: ['v*.*.*']

  pull_request:

  workflow_dispatch:

env:
  BASE_IMAGE_REPO: python
  BASE_IMAGE_TAG: '3.8.7-buster'

jobs:

  test_docker:

    runs-on: ubuntu-20.04

    steps:

      - name: Checkout the repo 
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build and run
        run: |
          cd /home/runner/work/dripline-cpp/dripline-cpp
          docker build \
            --build-arg img_repo=${BASE_IMAGE_REPO} \
            --build-arg img_tag=${BASE_IMAGE_TAG} \
            --build-arg build_type=Debug \
            --build-arg build_examples=TRUE \
            --build-arg enable_testing=TRUE \
            --tag driplineorg/dripline-cpp:test \
            .
          docker run driplineorg/dripline-cpp:test /usr/local/build/testing/run_tests

  test_builds:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15]

    steps:

      - name: Checkout the repo 
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install dependencies -- Mac
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install \
            boost \
            rabbitmq-c \
            rapidjson \
            yaml-cpp

      - name: Install dependencies -- Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y \
            libboost-all-dev \
            librabbitmq-dev \
            rapidjson-dev \
            libyaml-cpp-dev
            
      - name: Configure
        run: |
          mkdir build
          cd build
          cmake -DScarab_BUILD_PYTHON=FALSE -DDripline_ENABLE_TESTING=TRUE .. 

      - name: Build
        run: |
          cd build
          make -j2 install

      - name: Run tests
        run: |
          cd build/testing
          ./run_tests

  build_and_push:

    runs-on: ubuntu-20.04

    if: '! (github.event == pull_request)'

    needs: [test_docker, test_builds]

    strategy:
      matrix:
        build: [dev, release]
        include:
          - build: dev
            build-type: DEBUG
            build-examples: 'TRUE'
            build-test: 'TRUE'
            tag-suffix: '-dev'
          - build: release
            build-type: RELEASE
            build-examples: 'FALSE'
            build-test: 'FALSE'
            tag-suffix: ''

    steps:

      - name: Checkout the repo 
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: driplineorg/dripline-cpp
          tag-sha: false
          tag-semver: |
            {{raw}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: setup_buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: --debug

      - name: List platforms
        run: echo ${{ steps.setup_buildx.outputs.platforms }}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: build_push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            img_repo=${BASE_IMAGE_REPO}
            img_tag=${BASE_IMAGE_TAG}
            build_type=${{ matrix.build-type }}
            build_examples=${{ matrix.build-examples }}
            enable_testing=${{ matrix.build-tests }}
          tags: ${{ steps.docker_meta.outputs.tags }}${{ matrix.tag-suffix }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64

      - name: Image digest
        run: >
          echo ${{ steps.build_push.outputs.digest }}

  docs:
    runs-on: ubuntu-20.04
    needs: [build_and_push]
    steps:
      - name: Checkout the repo 
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y \
            tree \
            doxygen \
            python3-sphinx \
            graphviz
      - name: Output location
        run: |
          export OUTPUT_LOCATION="unknown"
          echo "Github ref: $GITHUB_REF"
          if [[ $GITHUB_REF == refs/heads/develop ]]; then
              echo "Branch is develop"
              export OUTPUT_LOCATION=develop
          elif [[ $GITHUB_REF == refs/heads/main ]]; then
              echo "Branch is main"
              export OUTPUT_LOCATION=main
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
              suffix=${GITHUB_REF#"refs/heads/"}
              suffix=$(echo $suffix | tr '/' '-')
              echo "Branch is $GITHUB_REF; directory will be $suffix"
              export OUTPUT_LOCATION=branches/$suffix
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
              suffx=${GITHUB_REF#"refs/tags/"}
              echo "Tag is $GITHUB_REF; directory will be $suffix"
              export OUTPUT_LOCATION=tags/$suffix
          fi
          echo "Output location: $OUTPUT_LOCATION"
          # Persist the output location in future steps
          echo "OUTPUT_LOCATION=$OUTPUT_LOCATION" >> $GITHUB_ENV
      - name: Build docs
        run: |
          cd documentation
          make html
          ls ./build/html
          mv ./build/html /tmp/build.html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: /tmp/build.html # The folder the action should deploy.
          target-folder: ${{ env.OUTPUT_LOCATION }}
          dry-run: false
